{% extends 'base.html' %}

{% block title %}Myskills - User skills{% endblock %}

{% block content %}

<body>

<div class="my-3"><h1>
    {% if user.username == username %}
        My skills
    {% else %}
        {{ username | capfirst}} skills
    {% endif %}
</h1></div>
<hr class="mt-0 mb-4">

{% for userskill in object_list %}
<ul>
    <li>
        <a href="{{ userskill.get_userskill_details_url }}">{{ userskill.name | capfirst }}</a>
    </li>
</ul>
{% endfor %}

<a href="{% url 'skill-create' %}" class="btn btn-primary">Create new skill</a>

</body>

{% endblock %}